@import url('https://fonts.googleapis.com/css?family=Oswald');
* {margin:0;padding:0;box-sizing:border-box;}


body {

    color:#333;
    font-size:20px;
    font-family: georgia, serif;
    line-height:1.3;

}

section {
    padding:5em 0;
}


h1, h2 {

    font-family: 'Oswald', sans-serif;
    font-weight: 400px;
}

ul {

    padding-left:1.25em;

}

#intro {

    background:url(../images/Sunset_Rockies.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    font-size: 2em;
    padding: 5em 0 0 5em;
    height: 60vh;
    color: #fff;
}

#sales {
    background: #333333;
    color: #fff;
}

#sales p {
    width: 600px;
    margin: auto;
    font-size: 1.5em;
}

* + p {
    margin-top: 1em;
}

section#about {
    width: 70em;
    margin: auto;
}
p.main{
    float: left;
    width: 50em;
}
p.approach{
    float: right;
    width: 50em;

}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

